@media (min-width:1440px) {
    .header__body_left {
      margin-top: 234px;
    }
    .why-thrive__text {
      margin-left: 163px;
    }
    .why-thrive__title {
      margin-top: 150px;
      margin-bottom: 87px;
    }
}

@media (max-width:1200px) {
    .header__body_left {
    margin-top: 150px
    }
    .left_logo {
    display: none;
    }
    .left_title {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 50px;
    }
    .left_description {
    font-size: 20px;
    line-height: 42px;
    margin-bottom: 55px;
    }
    .header__body_right {
    width: 60vw;
    }
    .why-thrive__text {
    max-width: 500px;
    margin-left: calc(80px + (100 - 80) * ((100vw - 1000px) / (1200 - 1000)));
    }
    .why-thrive__title {
    font-size: 30px;
    }
    .why-thrive__description {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    }
    .why-thrive__description span {
      font-size: 16px;
    }
    .about-us__content {
      font-size: 28px;
      line-height: 30px;
    }
    .underline {
      width: 230px;
    }
    .about-us__content::before {
      width: 7px;
      height: 7px;
      right: 100px;
    }
    .about-us__picture_2::before {
    right: 80px;
    }
    .about-us__text_footer {
      margin-left: 0;
    }
    .about-us__text_description {
      margin-left: 0;
      font-size: 22px;
    }
    .about-us__text-block {
      margin-top: 100px;
    }
    .about-us__picture-block {
      margin-bottom: 100px;
    }
    .picture-box__content {
      font-size: 28px;
      line-height: 30px;
    }
    .picture-box__content::before {
      width: 9px;
      height: 9px;
      right: 70px;
    }
    .picture-box__underline {
      width: 300px;
    }
    .picture-box__picture_4::before {
      right: 90px;
    }

}

@media (max-width:1000px) {
    .logo_text {
    font-size: 20px;
    }
    .header__navbar_button {
    width: 120px;
    height: 40px;
    }
    .button_btn {
    font-size: 12px;
    }
    .left_title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    }
    .left_description {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 35px;
    }
    .header__body_right {
    width: 70vw;
    }
     .why-thrive__text {
    margin: 50px; 
    }
    .why-thrive__title {
    font-size: 24px;
    }
    .why-thrive__description {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    }
    .why-thrive__description span {
      font-size: 14px;
    }
    .about-us__content {
      font-size: 24px;
      line-height: 26px;
    }
    .underline {
      width: 185px;
    }
    .about-us__content::before {
      width: 6px;
      height: 6px;
      right: 85px;
    }
    .about-us__picture_2::before {
    right: 70px;
    }
    .about-us__text_footer {
      font-size: 14px;
    }
    .about-us__title  {
      font-size: 14px;
    }
    .about-us__text_description {
      font-size: 20px;
    }
    .about-us__text-block {
      margin-top: 90px;
    }
    .about-us__picture-block {
      margin-bottom: 90px;
    }
    .picture-box__content {
      font-size: 24px;
      line-height: 26px;
      padding-right: 100px;
    }
    .picture-box__content::before {
      width: 7px;
      height: 7px;
      right: 65px;
      top: 133px;
    }
    .picture-box__underline {
      width: 260px;
    }
    .picture-box__picture_4::before {
      right: 82px;
    }
    .picture-box__picture_1 hr {
      margin-left: 102px;
    }
    .picture-box__picture_2 hr {
      margin-left: 101px;
    }
    .picture-box__picture_3 hr {
      margin-left: 102px;
    }
    .picture-box__picture_4 hr {
      margin-left: 100px;
    }
    .picture-box__picture_5 hr {
      margin-left: 101px;
    }
    .picture-box__picture_6 hr {
      margin-left: 103px;
    }

}

@media (max-width:900px) {
    .header__body_left {
    margin-top: 120px;
    }
    .logo_text {
    font-size: 18px;
    }
    .header__navbar_button {
    width: 105px;
    height: 35px;
    }
    .button_btn {
    font-size: 10px;
    }
    .left_title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
    }
    .left_description {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    }
    .header__body_right {
    width: 80vw;
    }
    .forms_link {
    font-size: 12px;
    }
    .why-thrive__title {
    font-size: 22px;
    }
    .why-thrive__description {
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    }
    .why-thrive__description span {
      font-size: 12px;
    }
    .about-us__content {
      font-size: 20px;
      line-height: 22px;
    }
    .underline {
      width: 160px;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    .about-us__content::before {
      width: 5px;
      height: 5px;
      right: 70px;
      top: 85px;
    }
    .about-us__picture_2::before {
    right: 55px;
    }
    .about-us__text_footer {
      font-size: 12px;
    }
    .about-us__title  {
      font-size: 12px;
      margin-left: 80px;
    }
    .about-us__text_description {
      font-size: 18px;
      line-height: 30px;
    }
    .about-us__text-block {
      margin-top: 80px;
    }
    .about-us__picture-block {
      margin-bottom: 80px;
    }
    .about-us__text {
      max-width: 500px;
    }
    .picture-box__content {
      font-size: 22px;
      line-height: 22px;
      padding-right: 80px;
    }
    .picture-box__content::before {
      width: 6px;
      height: 6px;
      right: 57px;
      top: 132px;
    }
    .picture-box__underline {
      width: 220px;
    }
    .picture-box__picture_4::before {
      right: 75px;
    }
    .picture-box__picture_1 hr {
      margin-left: 85px;
    }
    .picture-box__picture_2 hr {
      margin-left: 85px;
    }
    .picture-box__picture_3 hr {
      margin-left: 85px;
    }
    .picture-box__picture_4 hr {
      margin-left: 80px;
    }
    .picture-box__picture_5 hr {
      margin-left: 85px;
    }
    .picture-box__picture_6 hr {
      margin-left: 85px;
    }
}

@media (max-width:767px) { 
    .container {
    max-width: 800px;
    }
    .right_img {
    display: none;
    }
    .right_img_mob {
    display: block;
    width: 100%;
    }
    .header__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .header__row {
    background: #F4F9E2;
    }
    .header__body_left {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 30px;
    }
    .left_title {
    margin: 0;
    padding: 0 50px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
    text-align: center;
    }
    .left_description {
    text-align: justify;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    }
    .left_forms {
    display: flex;
    margin: 0px 0px 30px;
    } 
    .forms_link {
    font-size: 12px;
    padding: 0;
    display: block;
    text-align: center;
    }
    .forms_link:hover {    
    width: 100px;
    height: 30px;
    white-space: nowrap;
    }
    .forms_link:nth-child(2) {
    padding: 0;
    }
    .burger__menu {
    display: flex;
    justify-content: flex-end;
   }
   .header__navbar {
    position: fixed;
    background: #f4f9e2;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 5;
   }
   .header__navbar_button {
    display: none;
   }
   .header__navbar_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
   }
   .header__navbar_menu ul {
    width: 100%;
    display: none;
   }
   .header__navbar_menu li {
    display: flex;
    justify-content: center;
    margin: 40px;
   }
   .header__navbar_menu li:nth-child(1) {
     margin-top: 60px;
   }
   .header__navbar_menu li:nth-child(5) {
     margin-bottom: 250px;
   }
   .menu_link {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
   }
   #open, #close {
    position: absolute;
    top: 20px;
    right: 30px;
   }
   #open img,
   #close img {
    width: 40px;
    height: 40px;
   }
    #close {
    display: none;
  }
  .header__navbar_logo {
    margin-top: 20px;
    margin-left: 30px;
  }
  .logo_text {
    font-size: 24px;
    line-height: 40px;
  }
  .header__navbar_button_mob {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: #62d0df;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffff; 
  text-transform: uppercase;
 }
  .why-thrive__row {
    display: flex;
    flex-direction: column;
  }
  .why-thrive__text {
    max-width: 800px;
    margin: 30px;
  }
   .why-thrive__title {
    margin-bottom: 20px;
    margin-top: 20px;
    }
    .why-thrive__description {
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
    }
    .why-thrive__description span {
    font-size: 14px;
    }
    .about-us__text-block {
    display: flex;
    flex-direction: column;
    margin: 30px;
    }
    .about-us__title {
    font-size: 16px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
    }
    .about-us__text {
    max-width: 800px;;
    }
    .about-us__text_description {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
    }
    .about-us__text_footer {
    font-size: 16px;
    margin-bottom: 0;
    }
    .about-us__picture-block {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0px auto;
    }
    .about-us__content {
    font-size: 28px;
    line-height: 30px;
    }
    .underline {
    width: 220px;
    margin-bottom: 40px;
    margin-top: 70px;
    }
    .about-us__content::before {
    width: 7px;
    height: 7px;
    right: 95px;
    top: 127px;
    }
    .about-us__picture_2::before {
    right: 75px;
    }
    .about-us__picture-block {
    margin-bottom: 20px;
    }
    .picture-block {
      display: flex;
      flex-direction: column;
      width: 85%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .picture-box__content {
      font-size: 28px;
      line-height: 30px;
    }
    .picture-box__content::before {
      width: 7px;
      height: 7px;
      right: 65px;
      top: 132px;
    }
    .picture-box__underline {
      width: 220px;
    }
    .picture-box__picture_4 {
      padding-right: 55px;
    }
    .picture-box__picture_4::before {
      right: 85px;
    }
    .picture-box__picture_4 hr {
      margin-left: 60px;

}

